.footer {
    background-color: var(--light-green);
    color: var(--color-white);
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15rem;
    margin-top: 30px;
    /* position: ; */
    /* bottom: 0; */
    width: 100%;
    flex-direction: column;
  }
  

  .logo {
    width: 10%;
}


.sub-container {
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid red; */
    flex-wrap: wrap;
}

.sub-container-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border: 2px solid green; */
}

.sub-container-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border: 2px solid orange; */
}

.sub-container-2 p {
    padding-bottom: 10px;
    font-weight: 600;
}

.sub-container ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.sub-container-2 ul li {
    list-style: none;
}

.sub-container-2 ul li a {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-whitesmoke);
    transition: all 0.3s;
}

.sub-container-2 ul li a:hover {
    color: black;
}

.last-container {
    color: var(--color-whitesmoke);
}



/* media query  */

@media screen and (max-width: 780px) {
    .logo {
        width: 15%;
    }
}
  
@media screen and (max-width: 605px) {
    .footer {
        height: 40rem;
    }

    
  .logo {
    margin: auto;
    width: 25%;
    padding-bottom: 10px;
}


    .sub-container {
        height: 25rem;
        text-align: center;
    }

    
.sub-container-1 {
    font-size: 22px;
    width: 100%;
    align-content: center;
}

.sub-container-2 {
    margin: 10px;
}


.sub-container-2 p {
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 22px;
}

.sub-container ul {
    gap: 0.2rem;
}

.sub-container-2 ul li a {
    font-size: 18px;
}
}

@media screen and (max-width: 356px) {
    .logo {
        width: 25%;
        padding-bottom: 20px;
    }

    .sub-container-1 {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
    } 
    .sub-container-2 p {
        font-size: 20px;
    }
    .sub-container-2 ul li a {
        font-size: 16px;
    }

}