* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


/* main css  */

/* thieerwerwerwer */

:root {
    --dark-blue: blue;
    --light-green: #165848;
    --dark-green: #024f3c;
    --color-white: #ffff;
    --color-whitesmoke: whitesmoke;
    --color-green: green;
    --parrot-green: #10ac8538;
    --palm-green: #218c74;
}


/* Buttons CSS */

.--btn {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 6px 8px;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.--btn:hover {
  transform: translateY(-2px);
}

.--btn-lg {
  padding: 8px 10px;
}

.--btn-block {
  width: 100%;
}

.--btn-primary {
  color: #fff;
  background: var(--palm-green);
}
.--btn-secondary {
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}
.--btn-danger {
  color: #fff;
  background: rgb(228, 86, 35);
}

.--btn-success {
  color: #fff;
  background: #28a745;
}